body {
 
  background-image: linear-gradient(to right top, #adaeff, #a3a4eb, #999bd8, #8f91c5, #8688b2);

}
.App{
width: auto;
height: 100%;
}
 
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
} 